.DS_Store
.vscode
node_modules/
.idea/
secret/
docker-data/
build/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
